body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.title-bar {
  max-height: 40px;
  background-color: #2d90fa;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px; /* 上下内边距为5px，左右内边距为5px */
}

.title-bar-small {
  max-height: 40px;
  background-color: #ffffff00;
  color: #1d1d1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px; /* 上下内边距为10px，左右内边距为20px */
}

.divider {
  border-bottom: 2px solid #007BFF;
  margin: 5px 0;
}

.title-bar-small div button{
  background-color: #ffffff00;
  color: #1d1d1d;
}

.title-bar-small div button:hover {
  background-color: #cce2facb;
  color: #1d1d1d;
}

#control {
  display: flex;
  flex-direction: row;
}

.hcontainer {
  display: flex;
  flex: 1;
  background-color: #ff00d4;
}

.vcontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #ff00d4;
}

.full-flex {
  flex: 1;
}

.column {
  flex: 1;
  padding:5px 5px;
  box-sizing: border-box;
}

#left-column {
  flex: 2;
  background-color: #f0f0f0;
}

#right-column {
  flex: 1;
  background-color: #e0e0e0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff00;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.unselectable {
  user-select: none; /* 设置文字不可选中 */
  -webkit-user-select: none; /* 兼容Safari */
  -moz-user-select: none; /* 兼容Firefox */
  -ms-user-select: none; /* 兼容IE10+ */
}